= form_tag "result", :id => "cc_form" do
  = text_area_tag :cc_numbers, nil, :class => "inline", :id => "cc_input", :placeholder => "Please Enter Credit Card Numbers"
  = submit_tag "Validate", :class => "inline", :id => "cc_submit"
