= form_tag "search", :id => "search_form" do
  = text_area_tag :search_term, nil, :class => "inline", :id => "search_input", :placeholder => "Please Enter Credit Card Number"
  = submit_tag "Validate", :class => "inline", :id => "search_submit"
