%title
  Credit Card Validation | Benjamin Mort
= stylesheet_link_tag "application"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
= javascript_include_tag "application"
= csrf_meta_tag
